@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@model Fq.Web.Models.Account.LoginFormViewModel
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/Login.js")
}
@section Styles
{
    @Html.IncludeStyle("~/Views/Account/login.css")
}
<div class="user-login">
    <div class="row">
        <div class="col-md-6 bs-reset">
            <div style="background: transparent none repeat scroll 0% 0%; position: relative; z-index: 0;" class="login-bg">
                <img src="../common/images/login/logo.png" class="login-logo">
                <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 463px; width: 792px; z-index: -999998; position: absolute;">
                    <img style="position: absolute; margin: 0px; padding: 0px; border: medium none; width: 792px; height: 712.8px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -124.9px;" src="../common/images/login/bg2.jpg" class="deleteable">
                    <img style="position: absolute; margin: 0px; padding: 0px; border: medium none; width: 792px; height: 712.8px; max-height: none; max-width: none; z-index: -999999; opacity: 0.71431; left: 0px; top: -124.9px;" src="../common/images/login/bg3.jpg">
                </div>
            </div>
        </div>
        <div class="col-md-6 login-container bs-reset">
            <div class="login-content">
                <h1>XXXXXX系统</h1>
                <p>啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦 </p>
                <form action="@Url.Action("Login")?returnUrl=@ViewBag.ReturnUrl" method="POST" class="login-form">
                    <input type="hidden" name="returnUrlHash" />
                    <div class="alert alert-danger display-hide">
                        <button data-close="alert" class="close"></button>
                        <span><i class="fa fa-warning"></i> 请正确填写用户名和密码</span>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" class="form-control  form-control-solid placeholder-no-fix form-group" name="usernameOrEmailAddress" autocomplete="off" value="@(Model.UserNameOrEmailAddress ?? "")" placeholder="用户名" required maxlength="@Fq.Authorization.Users.User.MaxUserNameLength">
                        </div>
                        <div class="col-xs-6">
                            <input type="password" class="form-control  form-control-solid placeholder-no-fix form-group" name="password" placeholder="密码" autocomplete="off" required maxlength="@Fq.Authorization.Users.User.MaxPlainPasswordLength">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="rem-password">
                                <label class="rememberme mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" name="rememberMe"> 记住密码
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-8 text-right">
                            <button type="submit" class="btn green"><i class="fa fa-sign-in"></i> 登录</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-5 bs-reset">
                        <ul class="login-social">
                            <li>
                                <a href="javascript:;">

                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-7 bs-reset">
                        <div class="login-copyright text-right">
                            <p>Copyright &copy; fuqing 2015</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>