@using Abp.Web.Mvc.Extensions
@model Fq.Web.Models.Account.ResetPasswordViewModel
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/ResetPassword.js")
}
<form class="pass-reset-form" action="@Url.Action("ResetPassword")" method="post">
    <h3>修改密码</h3>
    <p>
        请输入新密码
    </p>
    <input type="hidden" name="UserId" value="@Model.UserId">
    <input type="hidden" name="ResetCode" value="@Model.ResetCode">
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">密码</label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="Password" placeholder="密码" name="Password" required maxlength="@Fq.Authorization.Users.User.MaxPlainPasswordLength" minlength="@Fq.Authorization.Users.User.MinPlainPasswordLength" />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">确认密码</label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="确认密码" name="PasswordRepeat" required maxlength="@Fq.Authorization.Users.User.MaxPlainPasswordLength" minlength="@Fq.Authorization.Users.User.MinPlainPasswordLength" />
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-success uppercase pull-right">确定</button>
    </div>
</form>