@using System.Threading
@using System.Web.Optimization
@using Abp.Extensions
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@using Fq.Web.Bundling
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="app"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="app"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="app">
<!--<![endif]-->
<head>
    <title data-ng-bind="'游戏充值 | ' + $state.current.data.pageTitle"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    @Styles.Render("~/Bundles/Front/libs/css")
    <link id="ng_load_plugins_before" />
    @Styles.Render("~/Bundles/Front/metronic/css")
    @Styles.Render("~/Bundles/Front/css")

    <script type="text/javascript">
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
</head>
<body ng-controller="common.views.layout as vm" class="page-on-load">

    <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <div data-ng-include="'~/front/main/layout/header.cshtml'" data-ng-controller="common.views.layout.header as vm" class="page-header">
    </div>

    <div class="clearfix">
    </div>

    <div class="page-container">
        <div data-ng-include="'~/front/main/layout/page-head.cshtml'" data-ng-controller="common.views.layout.pagehead as vm" class="page-head"></div>
        <div class="page-content">
            <div class="container">
                <div ui-view class="fade-in-up"> </div>
            </div>
        </div>
    </div>

    </div>

    @Scripts.Render("~/Bundles/Front/libs/js")

    <script>
        abp.localization.defaultSourceName = '@LocalizationSourceName';
        moment.locale('zh-cn'); //Localizing moment.js
    </script>

    @Html.IncludeScript(ScriptPaths.Angular_Localization)

    <script src="~/api/AbpServiceProxies/GetAll?type=angular&v=@(Clock.Now.Ticks)"></script>
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    @Scripts.Render("~/Bundles/Front/metronic/js")
    @Scripts.Render("~/Bundles/Common/js")
    @Scripts.Render("~/Bundles/Front/js")
</body>
</html>